body {
    margin: 0;
    padding: 0;
    background: #264057;
    color: #666666;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 15px;
}

p {
    padding: 0;
    margin: 0;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    box-sizing: border-box;
}

.panel {
    width: 300px;
    height: 300px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px 0 #4a4a4a;
    overflow: hidden;
}

.head {
    width: 100%;
    height: 60px;
    background: #5f98cd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.menu {
    height: 100%;
    width: 100%;
    flex: 1;
}

.head-title {
    height: 100%;
    width: 100%;
    flex: 3;
}

.icon {
    height: 100%;
    width: 100%;
    flex: 1;
}

.menu-control {
    width: 30px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}

.menu-line {
    position: relative;
    margin-top: 10px;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background: #fff;
    opacity: 0.7;
    transition: all 0.3s ease;
}

.menu-circle {
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background: #fff;
    opacity: 0.7;
    position: absolute;
    right: -2px;
    top: -2px;
    transition: all 0.3s ease;
}

.menu-line:first-child {
    width: 22px;
}

.menu-control:hover .menu-line,
.menu-control:hover .menu-circle {
    opacity: 1;
}

.head-title {
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 35px;
}

.icon {
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 34px;
}

.icon i {
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.icon i:hover {
    opacity: 1;
}

.body {
    height: 100%;
}

.body-line {
    margin-left: 15px;
    padding-top: 20px;
    animation: lineUp 1s forwards;
    opacity: 0;
}

.body-line .circle {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    border: 2px solid #5f98cd;
    background: white;
    box-shadow: 0 0 0 3px white;
    position: absolute;
    left: -23px;
    top: 22px;
    cursor: pointer;
}

.body-content {
    height: 100%;
    margin: 0 20px;
    border-left: 4px solid #ebebeb;
}

.time {
    font-size: 11px;
    cursor: pointer;
}

.info {
    cursor: pointer;
}

.info span {
    font-weight: 600;
}

.notice-block:hover
{
    color: #5f98cd;
}

.body-line:nth-child(2) {
    animation-delay: 0.3s;
}

.body-line:last-child {
    animation-delay: 0.5s;
}

@keyframes lineUp {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
